<ion-view title="设置" class="scroll-content-1"">
<ion-content>
    <ion-list>
        <!--- 基本设置 -->
        <ion-item class="item item-divider-top">基本设置</ion-item>
        <ion-item class="item" ng-controller="actionsheetCtl" ng-click="show()">清除历史记录</ion-item>
        <!--- 其他 -->
        <ion-item class="item item-divider-other">其他</ion-item>
        <ion-item class="item" href="#/tab/setting/help">帮助与介绍</ion-item>
        <ion-item class="item" href="#/tab/setting/about">关于</ion-item>
    </ion-list>
</ion-content>
</ion-view>
