/* Empty. Add your own CSS if you like */
.item-divider-top {
  padding-top: 15px;
  padding-bottom: 1px;
  border-width:0px;
  min-height: 40px;
  background-color: #f5f5f5;
  color: #999999;
  font-size: 13px;}
  
.item-divider-other {
  padding-top: 15px;
  padding-bottom: 1px;
  min-height: 40px;
  background-color: #f5f5f5;
  color: #999999;
  font-size: 13px;}
  
.scroll-content-1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  margin-top: -1px;
  padding-top: 1px;
  width: auto;
  height: auto;
  background-color: #f5f5f5; }
  
.item-right-1 {
  padding-right: 10px;
}